// main: ../style.sass

@keyframes fadeInUp
  0%
    opacity: 0
    transform: translate3d(0, 50px, 0)
  100%
    opacity: 1
    transform: none

@keyframes grow
  0%
    transform: none
  100%
    transform: scale(1.3)

@keyframes shine
  0%
    color: inherit
  100%
    color: darkred
