

  /************************            *****************************
  *************************    BASE    *****************************
  *************************            *****************************/

body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  background: white;
  color: #303133;
  font-family: "Amiri", serif;
  font-size: 14px;
  line-height: 1.15em;
  text-align: left;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

section {
  width: 100%;
  margin: 0 auto;
  margin-top: 20vh; }

h1 {
  visibility: hidden;
  position: absolute; }

a {
  text-decoration: underline;
  color: inherit; }

a:hover {
    color: #DAA520; }

p {
  margin-bottom: 1em;
  margin-left: 20vw; }

strong {
  font-weight: bold; }

.one {animation: fadeInUp 3s both ease; }
.two {animation: fadeInUp 4s both ease; }
.three {animation: fadeInUp 5s both ease; }
.four {animation: fadeInUp 6s both ease; }
.five {animation: fadeInUp 7s both ease; }
.six {animation: fadeInUp 8s both ease; }
.seven {animation: fadeInUp 9s both ease; }

@media screen and (min-width: 700px) {}

@media screen and (min-width: 1000px) {}

  /************************            *****************************
  *************************  PROJECTS  *****************************
  *************************            *****************************/

.projects h1, .gallery h1 {
  visibility: visible;
  font-size: 14px;
  text-align: center;
  margin-bottom: 20vh;
  position: relative; }

.projects p {
  display: block;
  max-width: 100px;
  margin: 0 auto;
  margin-bottom: 200px; }

.projects img, .gallery img{
  max-width: 100%; }

.gallery p {
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 200px;
}

@media screen and (min-width: 700px) {
  .projects {
    text-align: center;
  }
  .projects div {
    display: inline-block;
    margin: 0 auto;
  }

  .projects p {
    display: inline-block;
    margin: 0 2em; } }

@media screen and (min-width: 1000px) {}


  /************************            *****************************
  ************************* ANIMATIONS *****************************
  *************************            *****************************/

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(40px, 20px, 0); }
  100% {
    opacity: 1;
    transform: none; } }

  @keyframes shine {
    0% {
      color: black;}
    100% {
      color: gold;
    } }
