.blog header {
  margin-bottom: 50px;
  padding: 0; }

.blog h1 {
  font-size: 3em;
  margin-bottom: 10px; }

.blog span {
  font-size: 1.8em;
  font-style: italic; }

.blog p {
  max-width: 80%;
  margin: 0 auto;
  margin-bottom: 2em;
  text-align: left;
  font-size: 10pt;
  line-height: 1.3em;
  animation: fadeInUp 2s both ease; }

@media screen and (min-width: 800px) {
  .blog p {
    font-size: 12pt;
    line-height: 1.4em;
    max-width: 40%; } }
