@import url(resources/normalize.css);
body {
  background: white;
  font-family: 'Sorts Mill Goudy', serif;
  font-size: 7pt;
  text-align: center;
  animation: fadeInUp 1s both ease; }

h1 {
  margin-bottom: 78px; }

h2 {
  line-height: 1.4em;
  margin-bottom: 10px; }

header {
  margin-top: 120px; }
  header #pure {
    width: 230px;
    z-index: -1;
    margin-bottom: -190px;
    position: relative;
    animation: fadeInUp 2s both ease; }
  header h1 {
    margin-bottom: 80px; }
  header h2 {
    line-height: 0.5em; }

nav {
  margin-top: 40px;
  animation: fadeInUp 2.5s both ease; }
  nav h2 {
    display: inline-block;
    padding: 0 10px; }

a {
  text-decoration: underline;
  color: inherit; }
  a a:hover {
    animation: shine 1s both ease; }

ul {
  list-style: none;
  -webkit-padding-start: 0; }

li {
  margin-bottom: 40px; }

section {
  margin-top: 100px; }
  section h1 {
    margin-bottom: 50px; }

footer {
  font-size: 8pt;
  margin-top: 100px;
  margin-bottom: 40px;
  animation: fadeInUp 2.5s both ease; }

@media screen and (min-width: 1000px) {
  header {
    margin-top: 200px; }
  section {
    margin-top: 150px; } }

#work h2 {
  font-size: 10pt;
  font-style: italic;
  margin-bottom: 10px; }

#work p {
  font-size: 8pt;
  line-height: 0.4em;
  -webkit-margin-before: 0; }

#projects h1 {
  margin-bottom: 100px; }

#projects .title {
  visibility: hidden; }

#projects img {
  animation: fadeInUp 2s both ease;
  width: 30%;
  max-width: 120px;
  display: block;
  margin: 0 auto;
  margin-bottom: 100px;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opactiy 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out; }

#projects img:hover {
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opactiy 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  zoom: 1;
  filter: alpha(opacity=50);
  opacity: 0.5; }

@media screen and (min-width: 600px) {
  #projects img {
    width: 20%;
    display: inline-block;
    margin: 0 40px; } }

#luminiscencia {
  overflow: hidden; }
  #luminiscencia img {
    width: 150%;
    margin-left: -28%;
    margin-bottom: 200px; }

@media screen and (min-width: 1000px) {
  #luminiscencia {
    margin-top: 340px; }
    #luminiscencia h1 {
      margin-bottom: 300px; }
    #luminiscencia img {
      width: 55%;
      margin-left: 0; } }

.blog header {
  margin-bottom: 50px;
  padding: 0; }

.blog h1 {
  font-size: 2em;
  margin-bottom: 10px; }

.blog span {
  font-size: 1.4em; }

.blog p {
  max-width: 70%;
  margin: 0 auto;
  margin-bottom: 2em;
  text-align: justify;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  font-size: 10pt;
  line-height: 1.3em;
  animation: fadeInUp 2s both ease; }

@media screen and (min-width: 800px) {
  .blog p {
    font-size: 12pt;
    line-height: 1.4em;
    max-width: 40%; } }

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 50px, 0); }
  100% {
    opacity: 1;
    transform: none; } }

@keyframes grow {
  0% {
    transform: none; }
  100% {
    transform: scale(1.3); } }

@keyframes shine {
  0% {
    color: inherit; }
  100% {
    color: darkred; } }
