<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <section class="blog">
    {{{ contents }}}
  </section>
  <footer>
    <p>made by ≤a href="https://anxl.faith/me"></a></p>
  </footer>
</body>
</html>
