<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="links/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Sorts+Mill+Goudy:400,400i" rel="stylesheet">
</head>
<body>
  <section class="{{ class }}">
    {{{ contents }}}
  </section>
  <footer>
    <p>made by <a href="https://anxl.faith/me">anxl</a>.</p>
  </footer>
</body>
</html>
