
// BASE

body
  max-width: 100%
  overflow-x: hidden
  background: white
  font-family: 'Sorts Mill Goudy', serif
  font-size: 10pt
  line-height: 1.2em
  text-align: center
  animation: fadeInUp 1s both ease

section
  margin: 0 auto
  margin-top: 80px
  h1
    margin-bottom: 50px

h1
  font-size: 1.3em

h2
  font-size: 1.2em
  line-height: 1.6em
  margin-bottom: 10px

nav
  margin-top: 40px
  animation: fadeInUp 2.5s both ease
  h2
    display: inline-block
    padding: 0 6px

a
  text-decoration: underline
  color: inherit
  a:hover
    animation: shine 1s both ease

ul
  list-style: none
  -webkit-padding-start: 0

li
  margin-bottom: 20px

p
  max-width: 80%
  margin: 0 auto
  margin-bottom: 1.3em

footer
  font-size: 0.8em
  margin-top: 50px
  margin-bottom: 40px
  animation: fadeInUp 3s both ease

@media screen and (min-width: 700px)
  body
    font-size: 10pt
  p
    line-height: 1.3em

@media screen and (min-width: 1000px)
