
// BLOG

.blog
  p
    animation: fadeInUp 2s both ease
  h2
    margin: 0px
    animation: fadeInUp 2s both ease
  p
    margin-bottom: 0


// POST

.post
  h1
    display: block
    margin-bottom: 1em
    font-size: 1.5em
  h1 + p
    text-align: center
    animation: fadeInUp 3s both ease
  p
    text-align: justify
    -webkit-hyphens: auto
    -moz-hyphens: auto
    hyphens: auto
    animation: fadeInUp 4s both ease
  img
    width: 160%
    margin: 1.7em auto
    margin-left: -30%
    animation: fadeInUp 2s both ease

.post p:last-of-type
  // go back
  text-align: center

@media screen and (min-width: 700px)
  .post
    max-width: 70%
    img
      width: 180%
      margin-left: -40%

@media screen and (min-width: 1000px)
  .post
    font-size: 12pt
